#AboutMe{
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrap_title{
        line-height: unset;

        .Main_title{
            font-size: 55px;
            font-weight: 700;
            color: #F6D1FF;
        }

        .Sub_title{
            font-size: 55px;
            color: #FAE7FF;
        }

        .wrap_contect{
            padding-top: 2em;
            .address{
                height: 50px;

                a{
                    display: flex;
                    align-items: center;
                    gap: 17px;
                }
            }
        }
    }

    .wrap_desc{
        font-size: 20px;
        max-width: 600px;
    }
    
}
.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scroll-indicator::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: scroll 1.5s infinite;
  }
  
  @keyframes scroll {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
  }