
/* Header 스타일 지정 */
.Header_main{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;

}
.Header{
    position: fixed;
    width: 100%;
    background-color: #ffffff00;
    color: rgb(221, 221, 221);
    transition-duration: 0.5s;
}

.top-bar-down{
    background:rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    color: black;
    transition-duration: 0.5s;
}

.Header .logoBar{
    font-size: 16pt;
}
  
.Header .menuBar ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

  
.Header .menuBar li{
    margin-left: 12px;
}